<ion-view view-title="账号密码登录">
    <ion-content>
        <div class="row">
            <h2 class="login_h2">轻故事</h2>
        </div>
        <div class="row">
            <p class="slogan_p">讲好故事,做好推广</p>
        </div>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="First Name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Last Name">
            </label>
            <div class="row">
                <button class="button col-80 col-offset-10">
                    登录
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
