<ion-modal-view ng-controller="loginCtrl">
    <ion-header-bar class="bar bar-header">
        <button class="button button-clear button-primary pull-left" ng-click="closeLoginModal(true)">取消</button>
        <h1 class="title">{{loginTitile}}</h1>
    </ion-header-bar>
    <ion-content scroll="false" class="page-login">
        <ion-slide-box show-pager="false" active-slide="myActiveSlide" delegate-handle="my-handle" on-slide-changed="loginslideChange(index)">
            <ion-slide>
                <div class="box-main">
                    <div class="box-input">
                        <div class="box-input-field">
                            <span class="icon-input icon-username"></span>
                            <input type="text" ng-model="quickUser.phoneNumber" placeholder="手机号" />
                        </div>
                    </div>
                    <div class="box-input">
                        <div class="box-input-field box-verify">
                            <span class="icon-input icon-password"></span>
                            <input type="number" class="phoneCode" ng-model="quickUser.validateCode" placeholder="验证码" />
                        </div>
                        <button class="btn-verify" ng-disabled="isDisabled" ng-class="{'btn-dis':isDisabled}" ng-click="ajaxSendValidate(quickUser.phoneNumber)">{{verTxt}}</button>
                    </div>
                    <button class="btn-login" ng-click="quickLogin(quickUser)">登 录</button>
                    <a class="btn-assist" ng-click="slideChangefn('1')">密码登录</a>
                    <a class="button  button-light" style="margin-bottom:10px;" ng-click="test3Login()">快速体验</a>
                    <!-- <a class="button  button-light" style="margin-bottom:10px;" ng-click="testLogin()">测试账号1快速登录</a> -->
                    <!-- <a class="button  button-light" ng-click="test2Login()">测试账号2快速登录</a> -->
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box-main">
                    <div class="box-input">
                        <div class="box-input-field">
                            <span class="icon-input icon-username"></span>
                            <input type="text" ng-model="user.account" placeholder="邮箱/手机号" />
                        </div>
                    </div>
                    <div class="box-input">
                        <div class="box-input-field">
                            <span class="icon-input icon-password"></span>
                            <input type="password" ng-model="user.password" placeholder="密码" />
                        </div>
                    </div>
                    <button class="btn-login" ng-click="login(user)">登 录</button>
                    <a class="btn-assist" ng-click="slideChangefn('0')">手机登录</a>
                </div>
            </ion-slide>
        </ion-slide-box>
      <!--   <a class="button  button-light" style="margin-bottom:10px; margin-left:10px;" ng-href="http://test.upalapp.com/mobileplatform/user/thirdPartyLogin?goBackUrl=http%3a%2f%2fwww.upalapp.com%2fapp%2f2016101401test%2findex.html%23%2ftab%2fuser">微信登录</a> -->
        <!-- http://www.upalapp.com/app/2016101401/index.html#/tab/user -->
        <!-- http%3a%2f%2fwww.upalapp.com%2fapp%2f2016101401%2findex.html%23%2ftab%2fuser -->
        <!-- http://www.upalapp.com/app/2016101401test/index.html#/tab/user -->
        <!-- http%3a%2f%2fwww.upalapp.com%2fapp%2f2016101401test%2findex.html%23%2ftab%2fuser -->
        
        <div class="thirdLoginTitle">第三方登录</div>
        <div class="thirdLoginContent row">
            <div class="col col-33"><a class="login_pic qqlogin" ng-href="http://test.upalapp.com/mobileplatform/user/thirdPartyLoginQQ?goBackUrl=http%3a%2f%2fwww.upalapp.com%2fapp%2f2016070401%2findex.html%23%2ftab%2fuser"></a></div>
            <div class="col col-33"><a class="login_pic wxlogin" ng-href="http://test.upalapp.com/mobileplatform/user/thirdPartyLogin?goBackUrl=http%3a%2f%2fwww.upalapp.com%2fapp%2f2016070401%2findex.html%23%2ftab%2fuser"></a></div>
            <div class="col col-33"><a class="login_pic wblogin" ng-href="http://test.upalapp.com/mobileplatform/user/thirdPartyLoginWB?goBackUrl=http%3a%2f%2fwww.upalapp.com%2fapp%2f2016070401%2findex.html%23%2ftab%2fuser"></a></div>
        </div>
        <a ng-if="false" class="button  button-light" style="margin-bottom:10px;  margin-left:10px;" ng-href="http://192.168.4.196/html/yufei-file/201607before/ionic%E6%A1%88%E4%BE%8B/youpaiionic/node_modules/IonicClub/app/index.html#/tab/user?openid=ozom3tzdcYzDJTAPDEoeSSc2GmEw&nickname=%E5%92%96%E5%95%A1%E7%8C%AB&headImg=http:%2F%2Fwx.qlogo.cn%2Fmmopen%2FBTwPkXHCrhtkNy8Wa56Aq9S05z2YUvdd3PCUhoJ2y96Kb6qEUgjARGl7YwuFozH0Vltibia48TqmLLcScTMSkNeFnJ5OiaywUicT%2F0&sharerUserId=">微信登录离线调试</a>
        <a ng-if="false" class="button  button-light" style="margin-bottom:10px;  margin-left:10px;" ng-href="http://192.168.4.196/html/yufei-file/201607before/ionic%E6%A1%88%E4%BE%8B/youpaiionic/node_modules/IonicClub/app/index.html#/tab/user?openid=2791942034&nickname=yufeisky1&headImg=http:%2F%2Ftva2.sinaimg.cn%2Fcrop.0.0.180.180.180%2Fa669a792jw1e8qgp5bmzyj2050050aa8.jpg">微博登陆调试</a>
    </ion-content>
</ion-modal-view>
