<ion-view view-title="升级服务" class="uplevel-page">
    <ion-content scroll="true">
        <div class="card vip1">
            <h1>一个月 VIP</h1>
                <ul>
                    <li>去除底部广告</li>
                    <li>自定义加载logo</li>
                    <li>大数据服务</li>
                    <li>服务器加速</li>
                </ul>
                <p class="price old"> 原价：300.0 元</p>
                <p class="price">秒杀价：<span class="now">￥150.0</span>元</p>
                <p class="call">请致电:1581714802</p>
        </div>
        <div class="card vip2">
            <h1>三个月 VIP</h1>
            <ul>
                <li>去除底部广告</li>
                <li>自定义加载logo</li>
                <li>大数据服务</li>
                <li>服务器加速</li>
                <li>专人客服</li>
                <li>H5制作培训</li>
            </ul>
            <p class="price old"> 原价：800.0 元</p>
            <p class="price">秒杀价：<span class="now">￥389.0</span>元</p>
            <p class="call">请致电:1581714802</p>
        </div>
        <div class="card vip3">
            <h1>半年 VIP</h1>
            <ul>
                <li>去除底部广告</li>
                <li>自定义加载logo</li>
                <li>大数据服务</li>
                <li>服务器加速</li>
                <li>专人客服</li>
                <li>H5制作培训</li>
            </ul>
            <p class="price old"> 原价：1500.0 元</p>
            <p class="price">秒杀价：<span class="now">￥699.0</span>元</p>
            <p class="call">请致电:1581714802</p>
        </div>
        <div class="card vip4">
            <h1>一年 VIP</h1>
            <ul>
                <li>去除底部广告</li>
                <li>自定义加载logo</li>
                <li>大数据服务</li>
                <li>服务器加速</li>
                <li>专人客服</li>
                <li>H5制作培训</li>
            </ul>
            <p class="price old"> 原价：2600.0 元</p>
            <p class="price">秒杀价：<span class="now">￥1299.0</span>元</p>
            <p class="call">请致电:1581714802</p>
        </div>


    </ion-content>
</ion-view>
