<ion-view view-title="我的" class="user-page">
    <ion-content scroll="true">
        <div class="user-info">
            <div class="user-image">  <img ng-src="{{userData.picture}}"></div>
            <div class="user-name">  {{userData.name}}</div>
            <div class="user-email">  {{userData.email}}</div>
        </div>
        <div class="user-main-nav-box">
            <ul class="user-main-nav">
                <li><a ng-click="changeUserPage('tab.works',{ storyStatus:0})" ><i class="icon-works-58"></i><span>作品</span></a></li>
                <li><a ng-click="changeUserPage('tab.works',{ storyStatus:2})" ><i class="icon-collect-57"></i><span>收藏</span></a></li>
                <li><a ng-click="changeUserPage('tab.message')" ><i class="icon-info-56"></i><span>信息</span></a></li>
            </ul>
        </div>
      <!--  <div class="user-second-nav-box user-assist-nav-box">
            <ul class="user-second-nav  user-assist-nav">
                <li>我的动态<i class="icon-arrow-60"></i></li>
                <li>关注的人<i class="icon-arrow-60"></i></li>
                <li>交易记录<i class="icon-arrow-60"></i></li>
            </ul>
        </div>-->

        <div class="user-third-nav-box user-assist-nav-box">
            <ul class="user-third-nav user-assist-nav">
               <li> <a ui-sref="tab.uplevel" >升级服务<i class="icon-arrow-60"></i></a>
            </ul>
        </div>

        <div class="user-third-nav-box user-assist-nav-box" ng-show="isLogin">
            <ul class="user-third-nav user-assist-nav">
                <li ng-click="loginOutFn()"> <a>退出系统<i class="icon-arrow-60"></i></a></li>
            </ul>
        </div>

        <div class="user-third-nav-box user-assist-nav-box" ng-show="!isLogin">
            <ul class="user-third-nav user-assist-nav">
                <li ng-click="loginFn()"><a >登录<i class="icon-arrow-60"></i></a></li>
            </ul>
        </div>

        <!--  <div class="user-forth-nav-box user-assist-nav-box">
           <ul class="user-forth-nav user-assist-nav">
               <li>修改密码<i class="icon-arrow-60"></i></li>
               <li>常见问题<i class="icon-arrow-60"></i></li>
           </ul>
       </div>-->
      <!-- <div class="logout-box" ng-click="loginOutFn()"  ng-show="isLogin">退出系统</div>
       <div class="logout-box" ng-click="loginFn()"  ng-show="!isLogin">登录</div>-->
   </ion-content>
</ion-view>
