.upa-header {
    color: #fbfbfb;
    text-align: center;
    height: 44px;
    padding: 4px 0;
    margin: 0;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 10px;
}

.upa-header .btn-back{
    position: absolute;
    display: block;
    color:#2b9bff;
    width:32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 30px;
    left:4px;
    top:6px;
    text-decoration: none;
}

.upa-header .option-box {
    width: 152px;
    margin: 0px auto;
    padding: 0;
    border-radius: 2px;
    border: solid #ea5856 1px;
    background-color: #fbfbfb;
    height: 32px;
    box-sizing: border-box;
    font-size: 0;
}

.upa-header .option-box .option{
    width: 75px;
    line-height: 30px;
    height: 30px;
    color: #f29293;
    display: inline-block;
    box-sizing: border-box;
    font-size: 14px;
}

.upa-header .option-box .option.active{
    color: #ffffff;
    background-color: #ea5856;
}

.upa-header .collect-box {
    width: 152px;
    margin: 0  auto;
    padding: 0;
    background-color: #fbfbfb;
    height: 36px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 36px;
    color:#333333;
}

.upa-header .manager-box {
    position: absolute;
    display: block;
    color:#2b9bff;
    width:60px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 30px;
    right:4px;
    top:6px;
    text-decoration: none;

}

.upa-header .manager-box .button{
    color:#2b9bff;
    font-size: 14px;
}

.upa-header .manager-box .button{
    border: none;
}


.list-two {
    width: 100%;
    padding:0 5px;
    padding-top:5px;
    box-sizing: border-box;
    margin:0;
    position:relative;
}

.list-two li{
    width: 50%;
    overflow: hidden;
    float:left;
    position:relative;
}

.list-two li:nth-child(even):after{
    content: "." ;
    display: block ;
    height: 0 ;
    clear: both ;
    visibility: hidden ;
    padding-bottom: 10px;
}

.list-two li .thumb{
    width: 95%;
    padding-top: 95%;
    margin:0 auto;
    display: block;
    position:relative;
    overflow: hidden;
    border:solid 1px #dbdbdb;
}

.list-two li .thumb img{
    width:100%;
    min-height:100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.list-two h2{
    font-size: 14px;
    width:90%;
    margin:0 auto;
    height:30px;
    padding-top:10px;
    padding-bottom:5px;
    box-sizing: border-box;
    overflow: hidden;
    font-family: "微软雅黑";
    white-space:nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

}

.list-two p{
    color: #666;
    font-size: 14px;
    width:90%;
    margin:0 auto;
    height:32px;
    padding-top:0px;
    padding-bottom:5px;
    box-sizing: border-box;
    overflow: hidden;
    font-family: "微软雅黑";
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.search-box{
    width:100%;
    height:40px;
    background-color: #c0c0c0;
    position: relative;
    display: block;
    padding: 7.5px 5%;
    box-sizing: border-box;
}

input.search-input{
    width:100%;
    height:25px;
    background-color: #ffffff;
    display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
}

input.search-input::-webkit-input-placeholder  {
    text-align: center;
}

.collect-page .upa-header {
    height:84px;
    display: block;
}

.collect-page .has-header {
    top:84px;

}

.choose-box{
    position:absolute;
    width:30px;
    height:30px;
    right: 5px;
    top: 5px;
    font-size:30px;
    color:#fff;
}

.manager-box.edit{
    width: 120px;
}

.upa-header .manager-box .button.btn-delete{
    color:#ea5856;
}

.icon-xuanzhe_h  {
    display: block;
    position: relative;
}
.icon-xuanzhe_h .path2:before {
    position:absolute;
}
.icon-xuanzhe_n:before {
    position:absolute;
}

.message-box{
    width:100%;
    height:120px;
    display:block;
    background-color: #f6f6f6;
    padding-top:10px;
}

.message-list h2{
    font-size:18px;
    font-family: "微软雅黑";
    display:block;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    height:30px;
    width:100%;
    padding-top:10px;
    padding-left:20px;
    padding-right:20px;
    box-sizing: border-box;
    border-top:solid  #333333 1px;
    font-weight: bold;
}

.message-content-box {
    background-color: #FFFFFF;
    height:110px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    padding-left:20px;
    padding-right:20px;
    color:#6c6c6c;
}

.message-box.active{
    height:auto;
}

.message-box.active. .message-content-box{
    height:auto;
    padding-bottom: 10px;
}