@font-face {
    font-family: 'font-upalapp';
    src:    url('../fonts/font-upalapp.eot');
    src:    url('../fonts/font-upalapp.eot#iefix') format('embedded-opentype'),
    url('../fonts/font-upalapp.ttf') format('truetype'),
    url('../fonts/font-upalapp.woff') format('woff'),
    url('../fonts/font-upalapp.svg#font-upalapp') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-upalapp-"], [class*=" icon-upalapp-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'font-upalapp' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-upalapp-back .path1:before {
    content: "\e900";
    color: rgb(39, 37, 54);
}
.icon-upalapp-back .path2:before {
    content: "\e901";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-upalapp-collect:before {
    content: "\e902";
}
.icon-upalapp-focus:before {
    content: "\e903";
}
.icon-upalapp-home:before {
    content: "\e904";
}
.icon-upalapp-make:before {
    content: "\e905";
}
.icon-upalapp-more:before {
    content: "\e906";
}
.icon-upalapp-more-show:before {
    content: "\e907";
}
.icon-upalapp-my:before {
    content: "\e908";
}
.icon-upalapp-share:before {
    content: "\e909";
}
.icon-upalapp-show:before {
    content: "\e90a";
}
.icon-upalapp-zoo:before {
    content: "\e90b";
}

