@font-face {
    font-family: 'font-upalapp';
    src:    url('../fonts/font-upalapp.eot?pcpqnq');
    src:    url('../fonts/font-upalapp.eot?pcpqnq#iefix') format('embedded-opentype'),
        url('../fonts/font-upalapp.ttf?pcpqnq') format('truetype'),
        url('../fonts/font-upalapp.woff?pcpqnq') format('woff'),
        url('../fonts/font-upalapp.svg?pcpqnq#font-upalapp') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-upalapp-"], [class*=" icon-upalapp-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'font-upalapp' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-upalapp-focus:before {
    content: "\e900";
}
.icon-upalapp-home:before {
    content: "\e901";
}
.icon-upalapp-make:before {
    content: "\e902";
}
.icon-upalapp-more:before {
    content: "\e903";
}
.icon-upalapp-my:before {
    content: "\e904";
}
.icon-upalapp-zoo:before {
    content: "\e905";
}

