@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?pewg8u');
  src:  url('../fonts/icomoon.eot?pewg8u#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?pewg8u') format('truetype'),
    url('../fonts/icomoon.woff?pewg8u') format('woff'),
    url('../fonts/icomoon.svg?pewg8u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-add:before {
  content: "\e900";
}
.icon-arrow-59:before {
  content: "\e901";
}
.icon-arrow-60:before {
  content: "\e902";
}
.icon-arrow-123:before {
  content: "\e903";
}
.icon-collect-57:before {
  content: "\e904";
}
.icon-duodong:before {
  content: "\e905";
}
.icon-info-56:before {
  content: "\e906";
}
.icon-works-58:before {
  content: "\e907";
}
.icon-xuanzhe_h .path1:before {
  content: "\e908";
  color: rgb(232, 58, 55);
}
.icon-xuanzhe_h .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-xuanzhe_n:before {
  content: "\e90a";
}



