.tab {
    float: left;
    margin-top: 5px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}

.loginname {
    float: left;
    margin-top: 5px;
    color: #cccccc;
    margin-left: 10px;
}

.agotime {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    color: #cccccc;
}

.reply {
    float: right;
}

.reply .button {
    min-height: 20px;
    line-height: 20px;
    border-radius: 10px;
    background-color: #ffffff;
}

.reply .button.icon:before {
    font-size: 20px;
    line-height: 22px;
}

.avatar {
    width: 50px;
    height: 50px;
}

.copyright {
    text-align: center;
}

.markdown-text img {
    width: 100%;
}

#topicContent .item-avatar a {
    text-decoration: none;
}

#comment .item-avatar a {
    text-decoration: none;
}

#favorite .item-avatar a {
    text-decoration: none;
}


/**
 * Action Sheets for Android
 * --------------------------------------------------
 */

.platform-android .action-sheet-backdrop {
    -webkit-transition: background-color 150ms ease-in-out;
    transition: background-color 150ms ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.platform-android .action-sheet-backdrop.active {
    background-color: rgba(0, 0, 0, 0.4);
}

.platform-android .action-sheet-wrapper {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    -webkit-transition: all cubic-bezier(0.36, 0.66, 0.04, 1) 500ms;
    transition: all cubic-bezier(0.36, 0.66, 0.04, 1) 500ms;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.platform-android .action-sheet-up {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.platform-android .action-sheet {
    margin-left: 8px;
    margin-right: 8px;
    width: auto;
    z-index: 11;
    overflow: hidden;
}

.platform-android .action-sheet .button {
    display: block;
    padding: 1px;
    width: 100%;
    border-radius: 0;
    border-color: #d1d3d6;
    background-color: transparent;
    color: #007aff;
    font-size: 21px;
}

.platform-android .action-sheet .button:hover {
    color: #007aff;
}

.platform-android .action-sheet .button.destructive {
    color: #ff3b30;
}

.platform-android .action-sheet .button.destructive:hover {
    color: #ff3b30;
}

.platform-android .action-sheet .button.active,
.platform-android .action-sheet .button.activated {
    box-shadow: none;
    border-color: #d1d3d6;
    color: #007aff;
    background: #e4e5e7;
}

.platform-android .action-sheet-has-icons .icon {
    position: absolute;
    left: 16px;
}

.platform-android .action-sheet-title {
    padding: 16px;
    color: #8f8f8f;
    text-align: center;
    font-size: 13px;
}

.platform-android .action-sheet-group {
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;
}

.platform-android .action-sheet-group .button {
    border-width: 1px 0px 0px 0px;
}

.platform-android .action-sheet-group .button:first-child:last-child {
    border-width: 0;
}

.platform-android .action-sheet-options {
    background: #f1f2f3;
}

.platform-android .action-sheet-cancel .button {
    font-weight: 500;
}

.platform-android .action-sheet-open {
    pointer-events: none;
}

.platform-android .action-sheet-open.modal-open .modal {
    pointer-events: none;
}

.platform-android .action-sheet-open .action-sheet-backdrop {
    pointer-events: auto;
}

.platform-android .action-sheet .action-sheet-title,
.platform-android .action-sheet .button {
    text-align: center;
}

.platform-android .action-sheet-cancel {
    display: block;
}


/* 
create by yanfen
 */


/* Empty. Add your own CSS if you like */

.page-login {
    background-image: url("../img/LOGO@2x.png");
    background-repeat: no-repeat;
    background-position: center 100px;
    background-size: 100px 32px;
    background-attachment: fixed;
}

.page-login .box-main {
    width: 290px;
    height: 100%;
    margin: 0 auto;
    padding-top: 120px;
    position: relative;
}

.page-login .box-main .box-input {
    width: 290px;
    height: 37px;
    display: flex;
    margin-bottom: 15px;
    padding-right: 5px;
}

.page-login .box-main .box-input .box-input-field {
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #c0c0c0;
    border-radius: 5px;
    display: flex;
}

.page-login .box-main .box-input .box-input-field input[type="text"] {
    width: 250px;
    height: 37px;
    float: right;
    background-color: transparent;
    color: #909090;
    font-size: 12.5px;
    font-family: "-apple-system", "Helvetica Neue", "微软雅黑", "Segoe UI", sans-serif;
    padding-left: 5px;
}

.page-login .box-main .box-input .box-input-field .icon-input {
    width: 40px;
    height: 37px;
    background-repeat: no-repeat;
}

.page-login .box-main .box-input .box-input-field.box-verify {
    width: 200px;
}

.page-login .box-main .box-input .box-input-field.box-verify input[type="text"] {
    width: 160px;
    height: 37px;
    background-color: transparent;
    color: #909090;
    font-size: 12.5px;
    font-family: "-apple-system", "Helvetica Neue", "微软雅黑", "Segoe UI", sans-serif;
    margin: 0px;
    padding-left: 5px;
}

.page-login .box-main .box-input .btn-verify {
    width: 80px;
    height: 35px;
    font-size: 12.5px;
    line-height: 35px;
    margin: 0px;
    text-align: center;
    color: #ffffff;
    font-family: "-apple-system", "Helvetica Neue", "微软雅黑", "Segoe UI", sans-serif;
    background-color: #f9b5b6;
    border: none;
    margin: 1px 5px;
    border-radius: 5px;
}

.page-login .box-main .box-input .btn-verify.btn-dis {
    background-color: #8c8c8c;
}

.icon-username {
    background-size: 22px 22px;
    background-position: center;
    background-image: url("../img/Phone@2x.png");
}

.icon-password {
    background-size: 16px 21px;
    background-position: center;
    background-image: url("../img/unlock@2x.png");
}

.btn-login {
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 285px;
    height: 42px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../img/loginBtn@2.png");
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: #ca3336;
    font-family: "-apple-system", "Helvetica Neue", "微软雅黑", "Segoe UI", sans-serif;
}

.btn-assist {
    padding: 5px 10px 5px 0;
    font-size: 13px;
    color: #ca3336;
    font-family: "-apple-system", "Helvetica Neue", "微软雅黑", "Segoe UI", sans-serif;
    background-color: transparent;
    border: none;
    display: block;
    height: 38px;
    width: 100px;
}

.line-login {
    position: absolute;
    bottom: 60px;
    left: 10%
}

.tab-item .icon {
    font-size: 24px;
    line-height: 32px;
}


/* 
    create by linbin
 */

.userPage .navbar {
    position: fixed;
    z-index: 99999999999999;
    width: 100%;
    top: 44px;
}

.userPage .navbar a {
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #202020;
    line-height: 36px;
    font-size: 14px
}

.userPage .navbar .active a {
    margin: 0;
    padding: 0;
    margin-bottom: -1px;
    border-bottom: solid #d23e3e 1px
}

.userPageCon {
    margin-top: 40px;
}
/*.userPage .slider-slide{
    min-height: 300px;
}*/

/*信息提示框*/

#msgbox {
    position: fixed;
    left: 0;
    top: 40%;
    height: 10%;
    width: 100%;
    text-align: center;
    color: white;
    z-index: 9999999999;
}

#msgbox span {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2.5% 8%;
    border-radius: 6px;
    font-family: '微软雅黑';
    font-size: 14px;
    line-height: 100%;
}

#msgbox.msgboxani {
    animation: msgboxani 1s;
    -moz-animation: msgboxani 1s;
    -webkit-animation: msgboxani 1s;
    -o-animation: msgboxani 1s;
}

@keyframes msgboxani {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes msgboxani
/* Firefox */

{
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes msgboxani
/* Safari 和 Chrome */

{
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-o-keyframes msgboxani
/* Opera */

{
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.list-index {
    width: 98%;
    margin: 10px auto;
    /*min-height: 100px;*/
}

.item-index {
    width: 45%;
    height: auto;
    float: left;
    margin-left: 3%;
    margin-bottom: 10px;
    display: block;
    padding: 0;
}

.img-index {
    width: 90%;
    height: auto;
    margin: 4px auto;
    display: block;
}

h2.text-index {
    width: 90%;
    margin: 2px auto;
    display: block;
    padding: 0;
     text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space:normal;
}

p.text-index {
    width: 90%;
    margin: 2px auto;
    display: block;
    padding: 0;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space:normal;
}

ion-tabs.tabs-color-active-positive .tab-item.activated,
ion-tabs.tabs-color-active-positive .tab-item.active,
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active {
    color: #d23e3e;
}
.homeNav{
    border-bottom: 1px solid #d5d5d5;
        height: 43px;
}
.homeNav li a{
    /*line-height: 40px*/
}
.pubIframe{
    width: 100%;
    height: 100%;
}