<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link rel="stylesheet" href="css/app.min.css">
    <script src="lib/ionic.min.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=5960f6e4fdad832ca3daa87a046d198c"></script>
    <script src="js/app.min.js"></script>
    <script src="lib/lib.min.js"></script>
</head>

<body ng-app="IonicClub" ng-controller="IndexCtrl">
    <ion-content scroll="false">
        <ion-side-menus enable-menu-with-back-views="false">
            <ion-side-menu-content drag-content="false">
                <ion-nav-bar class="bar-stable" animation="nav-title-slide-ios7">
                    <ion-nav-back-button>
                    </ion-nav-back-button>
                    <ion-nav-buttons side="left">
                        <!-- <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item"ng-show="backShow"><i class="icon ion-ios-arrow-thin-left"></i>
                            <span class="back-text" style="transform: translate3d(0px, 0px, 0px);" ></span></button>  -->
                        <button ng-show="false" class="button button-icon button-clear ion-navicon-round" menu-toggle="left">
                        </button>
                    </ion-nav-buttons>
                </ion-nav-bar>
                <ion-nav-view animation="slide-left-right">
                </ion-nav-view>
            </ion-side-menu-content>
            <ion-side-menu side="left" ng-show="false">
                <ion-header-bar class="bar-stable">
                    <h1 class="title">栏目</h1>
                </ion-header-bar>
                <ion-content>
                    <ion-list>
                        <ion-item menu-close href="#/tab/topics/all">
                            全部
                        </ion-item>
                        <ion-item ng-repeat="tab in tabs" bindonce menu-close href="#/tab/topics/{{tab.value}}">
                            <span bo-bind="tab.label"></span>
                        </ion-item>
                        <ion-item menu-close>
                            <button ng-click="loginOut()">退出</button>
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ion-side-menu>
        </ion-side-menus>
    </ion-content>
</body>
</html>
