<ion-view view-title="页面模板" class="sorePage">
    <div>
        <ion-nav-bar>
            <!-- 自定义的后退按钮 -->
            <ion-nav-buttons side="left">
                <button class="button-clear " ng-click="goBackView()">
                    <i class="ion-chevron-left"></i> 后退
                </button>
            </ion-nav-buttons>
            <ion-nav-title>
                页面模板
            </ion-nav-title>
            <ion-nav-buttons side="right" >
                <button class="button button-outline button-assertive addBlankPage" ng-click="addBlankPage()" ng-hide="{{isPageCover}}">
                    添加空白页面
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <div class="bar bar-subheader">
            <div class="lbsTit title" ng-click="toggle()">
                <span class="lbsTitSpan">全部分类</span><i class="dropPic dropDown icon ion-chevron-down" ng-show="dropshow"></i> <i class="dropPic dropUp icon ion-chevron-up" ng-show="!dropshow"></i>
            </div>
        </div>
        <ion-content class="addPageContent" lazy-scroll>
            <div class="dropDownContent row" ng-class="{'dropDownListHide': visible}">
                <ion-scroll zooming="true" direction="y" scrollbar-x="false" scrollbar-y="false" class="col col-25 firstLevel">
                    <ul class="firstLevelList">
                        <li ng-repeat="parentList in parentCategories" ng-click="getTwoLevelFn(parentList.id,$index)"><span class="firstLevName">{{parentList.name}}</span><i class="icon ion-chevron-right"></i></li>
                        <!-- <li class="active"><span class="firstLevName">产品</span><i class="icon ion-chevron-right"></i></li>
                        <li><span class="firstLevName">类型</span><i class="icon ion-chevron-right"></i></li>
                        <li><span class="firstLevName">我的</span><i class="icon ion-chevron-right"></i></li> -->
                    </ul>
                </ion-scroll>
                <ion-scroll zooming="true" direction="y" class="col col-75 twoLevel">
                    <ul class="twoLevelList">
                        <li ng-repeat="children in childrenLists" ng-click="getTemplateList(children.id,$index)">{{children.name}}</li>
                        <!-- <li>封面</li>
                        <li>图文</li>
                        <li>图集</li>
                        <li>文字</li>
                        <li>封底</li> -->
                    </ul>
                </ion-scroll> 
            </div>
            <ion-scroll zooming="true" direction="y" style="height:{{listHeight}}" class="list templateListCon">
                <a ng-repeat="template in templateList" class="item item-thumbnail-top" ng-click="addPageByTemplateId(template.id)" href="javascript:;">
                    <div class="imgList" style="height:{{img_w}}; background-image:url('{{template.logo}}')"> </div>
                    <h2>{{template.title}}</h2>
                    <p>使用次数{{template.usedCount}}次</p>
                </a>
            </ion-scroll>
            <div class="hoverPage" ng-click="toggle()" ng-class="{'showHoverPage': visible}"></div>
            <div class="noDataTip" ng-class="{'showNoDataTip': showNoDataTip}">你已下线</div>
        </ion-content>
    </div>
</ion-view>
