<ion-view view-title="故事">
    <button ng-click="$ionicGoBack()" class="button back-button homeDetailBtn"><i class="icon icon-upalapp-back "><span class="path1"></span><span class="path2"></span></i>
        <span class="back-text" style="transform: translate3d(0px, 0px, 0px);"></span></button>
    <ion-content scroll="true" lazy-scroll class="storySlideBox">
       <a class="item item-thumbnail-left" href="#" ui-sref="tab.edit({ storyId: '21789'})" >
                        修改
        </a>
        <!-- <div ng-if="!more">无更多数据</div> -->
        <!-- </div> -->
        <!-- <div ng-if="!logined">
            <button ng-click="openLoginModal()">登录</button>
        </div> -->
    </ion-content>
</ion-view>
