<ion-modal-view class="gallery">
    <div class="gallery-option-box">
        <button class="button button-clear button-primary pull-left" ng-click="closeGalleryModal()">取消</button>
        <div class="gallery-option">
            <a ng-class="{active:isSelf}" on-tap="onSelf()">我的</a><a  on-tap="onLine()" class="onlineBtn" ng-class="{active:isLine}">在线</a>
        </div>
    </div>
    <div class="cate-box">
        <span class="cate-op" on-tap="cateOp()">{{cates[cateIndex].name}}<i class="dropPic dropDown icon ion-chevron-down" ng-show="dropshow"></i> <i class="dropPic dropUp icon ion-chevron-up" ng-show="!dropshow"></i></span>
        <ul class="cates-self scroll" ng-show="cateShow &&  isSelf">
            <li on-tap="cateChoose($index)" ng-repeat="cate in cates" ><span>{{cate.name}}</span></li>
        </ul>
        <div class="cate-online-box" ng-show="cateShow && isLine ">
            <ul class="cates-online" ng-show="cateShow && isLine " >
                <li class="cate_li" on-tap ="cateSChoose($index)" ng-repeat="cate in mainCates"  ng-class="{active:isActiveCate($index)}" >{{cate.name}}<i class="icon ion-chevron-right"></i></li>
            </ul>
            <ul class="cates-second"   ng-show="cateShow && isLine" >
                <li on-tap="cateChoose($index)" ng-repeat="cate in cates" ng-class="{'active': $index == cateIndex}" >{{cate.name}} </li>
            </ul>
        </div>
    </div>
    <ion-content scroll="true" lazy-scroll class="gallery-box">
       <!-- <input type="file" accept="image/*" id="upload"   />-->
        <div class="list-gallery"  >
            <div class="content-block" style="height:{{img_w}};width:{{img_w}}" ng-show="isSelf">
                <div id="uploader" class="wu-example">
                    <div class="queueList">
                        <div id="dndArea" class="placeholder">
                            <div id="thelist" class="uploader-list">
                            </div>
                        </div>
                    </div>
                    <div id="picker"></div>
                </div>
            </div>
            <a class="item-gallery"   on-tap="imageOp($index)" nav-transition="ios"  ng-repeat="image in images">
                <img class="img-gallery"  style="height:{{img_w}}" lazy-src="{{image.thumbnailsurl}}">
            </a>
        </div>
        <!-- <div ng-if="!more">无更多数据</div> -->
        <ion-infinite-scroll ng-if="more" on-infinite="galleryLoadMore()" distance="10%"></ion-infinite-scroll>
    </ion-content>
</ion-modal-view>
