<ion-view view-title="我的">
    <ion-content bindonce="Account">
        <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
           <!--  <div class="tabs">
                <a class="tab-item active" href="#">
                    <i class="icon ion-home"></i> Test
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-star"></i> Favorites
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-gear-a"></i> Settings
                </a>
            </div> -->
           <!--  <div ui-view></div> -->
            <!-- <ion-nav-view name="userstory"></ion-nav-view> -->
        </div>
        <h2>个人中心</h2>
        <button ng-click="loginOut()">退出</button>
    </ion-content>
</ion-view>
